


/*baggrunds billede**/
body{
    background-image: url(picz/BR1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Inter", sans-serif;
}

/*nav bar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px; 
  }

  /*logoer*/
  
  .logo-container {
    display: flex;
    align-items: center; 
     
  }

  .redbull {
    width: 200px;

   
  }
  
  .rflogo {
    width: 150px;

  
  }

  

  



.video-container {
    position: absolute;
    top: 55%;
    left: 10%;
    transform: translate(0, -50%);
}


.video-container {
    display: flex;
    align-items: flex-start;
   
}

/* video info*/
.video-content {
    margin-right: 20px; 
  margin-left: 150px;
  margin-top: none;
  color: white;
  width: 400px;
line-height: 35px;
}

.video-content h2 {
    margin-bottom: 30px; 

}

/*second page*/


.second-page {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-end; 
    height: 100vh; 
}

.multiple-choice {
    margin-bottom: 0px; 
    margin-left: 380px; 
    margin-top:  400px;
    transform: translate(-30%, 90%);
}





/*dåse billede*/

.dåse {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-10%, 85%);
}

/*multiple choice*/

.spørgesmål{
    color: white;
    margin-bottom: 80px;
}

label{
    color: white;
}

input[type="radio"] {
    margin-bottom: 50px;
}


input[type=radio]:checked{
    accent-color: rgb(255, 102, 0);

}


/*indsend knap*/

.submit{
    margin-top: 100px;

}

/* footer*/

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
    color: #fff; /* Example text color */
    padding: 20px;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}

/*fonts*/




 
  